@font-face {
	font-family: "Raleway-Regular";
	font-weight: normal;
	font-style: normal;
	src: url("../../fonts/Raleway-Regular.eot");
	src: url("../../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-Regular.woff") format("woff"), url("../../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway-Medium";
	font-weight: normal;
	font-style: normal;
	src: url("../../fonts/Raleway-Medium.eot");
	src: url("../../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-Medium.woff") format("woff"), url("../../fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway-Light";
	font-weight: normal;
	font-style: normal;
	src: url("../../fonts/Raleway-Light.eot");
	src: url("../../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Raleway-Light.woff") format("woff"), url("../../fonts/Raleway-Light.ttf") format("truetype");
}

html, body {
	font-family: "Raleway-Medium";
	font-weight: 500;
	font-size: 14px;
	color: #3d4e5b;
	line-height: 25px;
}

.fa {
	vertical-align: middle;
	font-size: 1.5em;
	margin-right: 1rem;
}

.container {
	max-width: 670px;
}

a {
	color: #3899dd;
}

.card-deck .others {
	max-width: 130px;
	text-align: left;
	line-height: 1em !important;
	color: #3899dd;
}

input::placeholder 	{
	color: #bbb;
	font-size: 1rem;
}

input {
	border-radius: 5px;
	border-color: #bbb;
}

label {
	display: block;
	margin-bottom: 0;
}

input,	
.btn {
	border-color: #bbb;
	border-radius: 5px;
}

.btn {
	line-height: 2rem;
	font-weight: 600;
	border-color: #3282ba;
	margin: 1.5rem 0;
}

nav.navbar {
	padding: 0;
}

@media only screen and (min-width: 600px) {
	nav.navbar {
		padding: 1.2rem 0;
	}
}

.btn-primary {
	background-color: #3899dd;
}

.border-primary {
	border-width: 2px;
	border-color: #87c3ef !important;
	/*border: 1px solid #3899dd;*/
}

.card-deck .card {
	margin: 0 8px;
	border-radius: 0.3rem;
}

.card-deck .disabled {
	opacity: .3;
}

.form-control {
	height: calc(1.8em + .75rem + 2px);
}

main {
	margin-bottom: 4rem;
}

footer {
	background-color: #f2f2f2;
	line-height: 20px;
}

footer .logo {
	height: 25px;
	/*width: 20%;*/
	/*margin: 0 10px;*/
}

.text-muted,
.kvlist .row div:first-child {
	font-family: "Raleway-Light";
	font-weight: 400;
	color: #3d4e5b !important;
}

.kvlist .row div:first-child {
	padding-left: 1.25em;
}

.kvlist .row div+div {
	padding-left: 1.25em;
	margin-bottom: 1.25rem;
}

@media only screen and (min-width: 576px) {
	.kvlist .row div+div {
		text-align: right;
		padding-right: 1.25em;
		margin-bottom: 0;
	}
}

.text-muted,
.kvlist span:first-child {
	font-family: "Raleway-Light";
	font-weight: 400;
	color: #3d4e5b !important;
}

.kvlist span:first-child {
	/*padding-right: 0.33em;*/
	margin-left: 1.25em;
}

.kvlist span+span {
	float: right;
	/*padding-left: 0.33em;*/
	margin-right: 1.25em;
}

.leaded {
	overflow-x: hidden;
	font-family: "Raleway-Regular";
	font-weight: 600;
	font-size: 1.7em;
	color: #555;
}

.leaded p:before {
	float: left;
	width: 0;
	white-space: nowrap;
	/* content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "; */
}

.leaded span:first-child {
	padding-right: 0.33em;
	background: #fff;
}

.leaded span+span {
	float: right;
	padding-left: 0.33em;
	background: #fff;
}

.card.results {
	border: 1px solid rgba(0,0,0,.06);
	border-radius: 1rem;
}

#cards {
	width: 19.5em;
	height: 10em;
	position: relative;
	margin: 0 auto;
	font-size: 1.2rem;
}

#cards label {
	font-size: 0.5em;
}

/* @media only screen and (max-width: 375px) {
	.leaded p:before {
		content: none;
	}
} */

@media only screen and (min-width: 420px) {
	input {
		font-size: 1.3rem;
	}

	.leaded p:before {
		content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	}

	#cards {
		font-size: 1.5em;
	}

	.field {
		padding: 0.3em 0.5em;
	}
}

#front,
#back {
	position: absolute;
	width: 14.5em;
	height: 9em;
	border-radius: 0.5em;
}

#front {
	top: 0;
	left: 0;
	background: #ddd;
	z-index: 100;
}

#number {
	width: 100%;
}

#front-fields {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1em;
}

#bank-logo {
	position: absolute;
	top: 1em;
	right: 1em;
	height: 1.5em;
	display: block;
}


#brand-logo {
	position: absolute;
	bottom: 1em;
	right: 1em;
	text-align: right;
	height: 1.6em;
}

#back {
	bottom: 0;
	right: 0;
	background: #bbb;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 10.5em;
}

#code {
	width: 100%;
	margin-bottom: .5em;
}

#code + label {
	line-height: 1em;
	margin-top: .25em;
}

.field {
	border: 1px solid #bbb;
	text-align: center;
}

.expired {
	float: left;
	width: 3em;
	margin-right: 0.5em;
	margin-top: 0.3em;
}